@page
@model mon_site.Pages.AboutModel
@{
    ViewData["Title"] = "Apropos";
}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-12">
            <img class="img-fluid" alt="Merbeille Lubenzo" src="~/img/TekSniper_2.png" />            
        </div>
        <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
            <p class="font-weight-bold">Merci de visiter</p>
            <p>
                <strong>Merveille Lubenzo </strong> est Infographiste et IT Developer avec une experience de plus de @Model.Experience() ans.<br />
                Il est basé à Kinshasa et travaille avec <strong>Concept Multiservice</strong> et en Freelance.Il a travaillé avec des boites de Developpement Informatique et Production audiovisuel, telles que <strong>
                    Djums Universel,
                    Yoan Prod, GMB Sarl...
                </strong><br />
                Il a réalisé des créas évenementiels, pour les églises, Sociétés, Partis politiques, Corporates.
            </p><hr />
            <p>
                <i class="fa-solid fa-graduation-cap"></i><h4 class="font-weight-bold">Etudes</h4>
                <strong>Merveille Lubenzo</strong> detient une licence en Informatique <strong>Conception des systèmes d'information ; </strong>
                amoureux de l'art, il a passé du temps à acquérir des notions en Infographie et travaille en tant que graphiste indépendant depuis 2019.
                Il évolue aussi en musique en tant que pianiste depuis 2017 😉
            </p><hr />
            <p>
                <i class="fa-solid fa-microchip"></i><h4 class="font-weight-bold">Compétences</h4>
            <p>
                Infographie<br />
                <img src="https://img.icons8.com/color/48/null/adobe-photoshop--v1.png" /> <img src="https://img.icons8.com/color/48/null/adobe-illustrator--v1.png" /> <img src="https://img.icons8.com/color/48/null/adobe-indesign--v1.png" /><br />
            </p>
            <p>
                IT Dev<br />
                <img src="https://img.icons8.com/color/48/null/c-sharp-logo-2.png" /> <img src="https://img.icons8.com/fluency/48/null/python.png" /> <img src="https://img.icons8.com/color/48/null/sql.png" /> 
                <img src="https://img.icons8.com/color/48/null/microsoft-sql-server.png" /> <img src="https://img.icons8.com/fluency/48/null/mysql-logo.png" /> <img src="https://img.icons8.com/color/48/null/postgreesql.png" />
            </p><hr />
            <p>
                <i class="fa-solid fa-window-maximize"></i>
            </p>
            <p>
                <strong>Merveille</strong> a mis en place des applications de bureau et web. Ce site est entièrement écrit par <strong>TekSniper</strong> 👌😎
            </p>
        </div>
    </div><br /><br /><br /><br /><br />
    <div class="text-center">
        <p>
            <h5 class="font-weight-bold">Vous voulez rester en contact avec moi ?</h5><br />
            Faites un tours sur mes pages ou WhatsApp 😉<br />
            <a href="https://facebook.com/teksniper" target="_blank">Facebook</a><br />
            <a href="https://instagram.com/mlubenzo01" target="_blank">Instagram</a><br />
            <a href="https://pinterest.com/mlubenzo01" target="_blank">Pinterest</a><br />
            <a href="https://wa.me/message/X6NKOIVKA65UI1" target="_blank">WhatsApp</a><br />
        </p>
    </div>    
</div>