@page
@model mon_site.Pages.ConstructModel
@{
    ViewData["Title"] = "En développement";
}
<div class="container">
    <div class="row justify-content-center" style="margin-top:25%">
        <div class="col-md-8 shadow-sm">
            <h2 class="text-secondary font-weight-bold">TekSniper</h2>
            <h4 class="text-secondary">
                En construction...........
            </h4>
        </div>        
    </div>  

</div>