@page
@model mon_site.Pages.CreasModel
@{
    ViewData["Title"] = "Portfolio";
}

<div class="container">
    <h3 style="padding-top:25px" class="text-center">
        Mes créas !
    </h3>
    <!--
    <div class="wrapper">
        <nav class="" id="sidebar">
            <div class="sidebar-header">
                <h3>Slider</h3>
            </div>
            <ul class="list-unstyled components">
                <p>The Providers</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Home</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    -->
    <!--
    <nav>
        <ul>
            <li>
                <h3><a href="#">Menu</a></h3>
            </li>
            <li>
                <a href="#">
                    <span class="nav-item">Home</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="nav*item">Profile</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="nav-item">Services</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="nav-item">Portfolio</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="nav-item">Contact</span>
                </a>
            </li>
        </ul>
    </nav>
    -->
    <div class="row justify-content-center">
        <div class="col col-sm-8 col-md-8 col-lg-6 text-center">

            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-filter"></i> Filtre
                </button>
                <div class="dropdown-menu">
                    @foreach (var _type in Model.GetlistType())
                    {
                        <a class="dropdown-item" href="/Creas?Id=@_type.Key">@_type.Value</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
