@page
@model mon_site.Pages.CreasModel
@{
    ViewData["Title"] = "Portfolio";
}

<div class="container-fluid">
    <h3>
        Mes créas !
    </h3>

    <div class="wrapper">
        <nav class="sidebar">
            <div class="sidebar-header">
                <h3>Slider</h3>
            </div>
            <ul class="list-unstyled components">
                <p>The Providers</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Home</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
