@page
@model IndexModel
@{
    ViewData["Title"] = "Bienvenue";
    Layout = "LayoutIndex";
}
<div style="margin-top:20%">
    <p>
        <h1 class="font-weight-bold text-center" style="color:#09383C">Merveille Lubenzo</h1>
    </p>
    <p style="color:#09383C">
        <h6 class ="text-center">Je suis Infographiste professionnel et Développeur .Net - Python basé à Kinshasa</h6>
    </p>
    <p class="text-center text-capitalize">
        <a href="/About" class="btn btn-outline-danger btn-rounded"><i class="fa-solid fa-address-card"></i> Apropos de moi</a>
    </p>
    <p>
        <div style="padding: 35px 0" class="social-links text-center">
            <p>
                <a class="" href="https://facebook.com/teksniper" target="_blank">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
                <a class="" href="https://instagram.com/mlubenzo01" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a class="" href="https://pinterest.com/mlubenzo01" target="_blank">
                    <i class="fa-brands fa-square-pinterest"></i>
                </a>
                <a class="" href="https://wa.me/message/X6NKOIVKA65UI1" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </p>
        </div>
    </p>
    <p class="text-center">
        Consultez le catalogue WhatsApp <a href="https://wa.me/c/243898775637" class="section-welcome-catalogue" target="_blank">en cliquant ici...</a>
    </p>
</div>
